[defaults]
roles_path: ./roles/
host_key_checking: False
forks: 50
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400

[ssh_connection]
pipelining=True
